In [1]:
import pandas as pd
import numpy as np

## Задача 1
Скачать файл в уроке 'kc_house_data.csv' <br>
Считать данные с помощью pandas<br>
Вывести на экран первые 5 строк<br>
Посмотреть на описание признаков и на их содержание

In [5]:
df = pd.read_csv('kc_house_data.csv', sep=',')
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Задача 2
Проведите первичный анализ данных <br>
Изучите типы данных<br>
Найдите количество пропущенных ячеек в данных<br>
Посчитайте основные статистики по всем признакам и поизучайте их<br>
Пишите выводы

Все столбцы датасета состоят из числовых типов данных (int64, float64), 
и дата (тип данных object).
Таблица не содержит пустых ячеек

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [9]:
df.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

## Задача 3
### 3.1 
В каком диапазоне изменяются стоимости недвижимости?

In [10]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

### 3.2 
Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [14]:
round((df['sqft_living'].mean()/df['sqft_lot'].mean())*100, 2)

13.77

### 3.3 
Как много домов с разными этажами в данных?

In [17]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

### 3.4 
Насколько хорошие состояния у домов в данных?

In [18]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

### 3.5 
Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [19]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Задача 4
### 4.1 
Сколько в среднем стоят дома, у которых 2 спальни?

In [21]:
round(df[df['bedrooms'] == 2]['price'].mean(), 2)

401372.68

### 4.2 
Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [23]:
round(df[df['price'] > 600000]['sqft_lot'].mean(), 2)

20442.52

### 4.3 
Как много домов коснулся ремонт?

In [24]:
df[df['yr_renovated'] != 0].shape[0]

914

### 4.4 
На сколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [29]:
price_10 = df[df['grade'] > 10]['price'].mean()
f'Средняя стоимость домов с оценкой grade домов выше 10 = {price_10:.2f}'

'Средняя стоимость домов с оценкой grade домов выше 10 1678635.12'

In [30]:
price_4 = df[df['grade'] < 4]['price'].mean()
f'Средняя стоимость домов с оценкой grade меньше 4 = {price_4:.2f}'

'Средняя стоимость домов с оценкой grade меньше 4 = 189750.00'

In [33]:
s = price_10 - price_4
f'В среднем на = {s:.2f}'

'В среднем на = 1488885.12'

## Задача 5
### 5.1 
Выберите дом клиенту<br>
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [37]:
df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].shape[0]

36

### 5.2 
Выберите дом клиенту<br>
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, <br>
в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом<br>
диапазоне будут дома?

In [40]:
condition = ((df['view'] == 4) | (df['waterfront'] == 1)) & (df['condition'] == 5) & (df['yr_built'] > 1980)
home_client = df[condition]
home_client['price'].min(), home_client['price'].max()

(1295000.0, 3000000.0)

### 5.3 
Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [46]:
house_selection = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
grade = house_selection['condition'].mean()
f'В среднем оценка по состоянию таких домов = {grade:.2f}'

'В среднем оценка по состоянию таких домов = 2.83'